<section
  class="hero-wrap hero-wrap-2"
  style="background-image: url('assets/front-end/images/bg_5.jpg')"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-end justify-content-center"
    >
      <div class="col-md-9 ftco-animate mb-5 text-center">
        <p class="breadcrumbs mb-0">
          <span class="mr-2"
            ><a href="<?=app_url()?>"
              >Home <i class="fa fa-chevron-right"></i></a
          ></span>
          <span>Gallery <i class="fa fa-chevron-right"></i></span>
        </p>
        <h1 class="mb-0 bread">Gallery</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row">
      <?php foreach($gallery as $data){?>
        <?php $image = app_url() . '/assets/gallery/' . $data['image']?>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div
              class="img align-self-stretch"
              style="background-image: url(<?=$image?>)"
            ></div>
          </div>
          <div class="text pt-3 px-3 pb-4 text-center">
            <div class="faded">
              <p>
                <?=$data['image_desc']?>
              </p>
            </div>
          </div>
        </div>
      </div>
      <?php } ?>
    </div>
  </div>
</section>
