hover a {
    color: #3B5998;
    cursor: pointer;
    text-decoration: none;
}

hover a:hover {
    text-decoration: underline;
}

.hovercard {
    width: 300px;
    height: 300px;
    border: 0;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
}