
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Clients</h1>
              <a
                href="#"
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                ><i class="fas fa-users fa-sm text-white-50"></i> Add New Client</a
              >
            </div>

            <!-- Content Row -->
            <div class="row">
              <!-- Content Column -->
              <div class="col-lg-12 mb-4">
                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">All Clients</h6>
                  </div>
                  <div class="card-body">           
                    <div class="table-responsive">
                      <table
                        class="table table-bordered"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr>
                            <th>Client Name</th>
                            <th>Client Email</th>
                            <th>Date of Birth</th>
                            <th>Created At</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Client Name</th>
                            <th>Client Email</th>
                            <th>Date of Birth</th>
                            <th>Created At</th>
                            <th>Action</th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <?php foreach($clients as $data){ ?>
                            <tr>
                              <td><?=$data['name']?></td>
                              <td><?=$data['email']?></td>
                              <td><?=$data['birthday']?></td>
                              <td><?=$data['created_at']?></td>
                              <td><button class="btn btn-primary mx-2"><i class="fa fa-edit"></i> &nbsp; Edit</button>
                                
                                <button data-toggle="modal" data-target="#exampleModal" class="btn btn-warning mx-2"><i class="fa fa-comment-alt"></i> &nbsp; Initiate Chat</button>
                                
                                <button class="btn btn-danger mx-2"><i class="fa fa-trash-alt"></i> &nbsp; Remove</button></td>
                            </tr>
                          <?php } ?>
                          </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">initiate Chat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a href="<?=app_url('admin')?>/initiate-chat/<?=$data['id']?>/10" class="btn btn-primary mx-2 my-2">Initiate For 10 Min</a>
        <a href="<?=app_url('admin')?>/initiate-chat/<?=$data['id']?>/20" class="btn btn-primary mx-2 my-2">Initiate For 20 Min</a>
        <a href="<?=app_url('admin')?>/initiate-chat/<?=$data['id']?>/30" class="btn btn-primary mx-2 my-2">Initiate For 30 Min</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>