
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Gallery</h1>
              <a
                href="<?=app_url('admin')?>/add-to-gallery"
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                ><i class="fas fa-plus fa-sm text-white-50"></i> Add To Gallery</a
              >
            </div>
            <?=showMsg('gallery')?>
            <!-- Content Row -->
            <div class="row">
              <!-- Content Column -->
              <div class="col-lg-12 mb-4">
                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Gallery</h6>
                  </div>
                  <div class="card-body">           
                    <div class="table-responsive">
                        <table
                          class="table table-bordered"
                          id="dataTable"
                          width="100%"
                          cellspacing="0"
                        >
                          <thead>
                            <tr>
                              <th>Image</th>
                              <th>Discription</th>
                              <th>Created At</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tfoot>
                            <tr>
                              <th>Image</th>
                              <th>Discription</th>
                              <th>Created At</th>
                              <th>Action</th>
                            </tr>
                          </tfoot>
                          <tbody>
                            <?php foreach($gallery as $data){ ?>
                              <tr>
                                <td><img src="<?=app_url()?>/assets/gallery/<?=$data['image']?>" class="img_fluid" width="200px"></td>
                                <td><?=$data['image_desc']?></td>
                                <td><?=$data['created_at']?></td>
                                <td><button data-toggle="modal" data_id="<?=$data['id']?>" data-target="#deleteIamge" class="btn btn-danger mx-2 remove_image"><i class="fa fa-trash-alt"></i> &nbsp; Remove</button></td>
                              </tr>
                            <?php } ?>
                            </tbody>
                        </table>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
  
  <!-- Modal -->
  <div class="modal fade" id="deleteIamge" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Remove Image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Click 'Remove' to remove the Image
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="" type="button" id="remove_image_modal" class="btn btn-danger">Remove</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    let remove_image = document.querySelectorAll('.remove_image');
    let remove_image_modal = document.getElementById('remove_image_modal');
    

    for(let i = 0; i < remove_image.length; i++){
      remove_image[i].addEventListener('click', function(){
        let id = this.getAttribute('data_id');
        remove_image_modal.setAttribute('href', 'remove-image/'+id);
      });
    }

  </script>